<main>
  <div [style.filter]="showLogin || showPricing ? 'blur(0.5rem)' : ''">
    <img src="../../assets/error.svg" alt="">
    <section>
      <h2>{{ errorText[0] }}<br>{{ errorText[1] }}</h2>
      @if (navigation) {
        <a [routerLink]="linkTo" [style.textTransform]="buttonUppercase ? 'uppercase' : ''">
          {{ buttonText }}
          <img @cursorMovement class="cursor" src="../../assets/pointer.svg" alt="">
        </a>
      } @else {
        <button (click)="clickFunction()" [style.textTransform]="buttonUppercase ? 'uppercase' : ''">
          {{ buttonText }}
          <img @cursorMovement class="cursor" src="../../assets/pointer.svg" alt="">
        </button>
      }
    </section>
  </div>
</main>