<div class="example-slider">
  <ul class="slider">
    <li [@slideAnimation]="slideStates[0]">
      <img src="../../../../../assets/slider-example-1.png" alt="Fast food chains tier list">
    </li>
    <li [@slideAnimation]="slideStates[1]">
      <img src="../../../../../assets/slider-example-2.png" alt="Best drift cars tier list">
    </li>
    <li [@slideAnimation]="slideStates[2]">
      <img  src="../../../../../assets/slider-example-3.png" alt="Waifu tier list">
    </li>
  </ul>
  <ul class="slider-indicator">
    <li (click)="selectItem(0)">
      @if (selectedNo == 0) {
        <div @fadeInOut class="dot"></div>
      }
    </li>
    <li (click)="selectItem(1)">
      @if (selectedNo == 1) {
        <div @fadeInOut class="dot"></div>
      }
    </li>
    <li (click)="selectItem(2)">
      @if (selectedNo == 2) {
        <div @fadeInOut class="dot"></div>
      }
    </li>
  </ul>
</div>
