<app-headline [title]="'Leaderboard'"></app-headline>
<main>
  <ul class="top-three">
    <li class="second-place">
      <div class="profile-picture">
        <img src="../../assets/profile icon 1.png" alt="">
        <div class="rank-indicator">
          <h4>2</h4>
        </div>
      </div>
      <h3>Jackson</h3>
      <h4>
        1847
        <span>pts.</span>
      </h4>
    </li>
    <li class="first-place">
      <div class="profile-picture">
        <img src="../../assets/profile icon 2.png" alt="">
        <div class="rank-indicator">
          <h4>1</h4>
        </div>
        <img src="../../assets/crown.svg" alt="">
      </div>
      <h3>Ratuki43</h3>
      <h4>
        2430
        <span>pts.</span>
      </h4>
    </li>
    <li class="third-place">
      <div class="profile-picture">
        <img src="../../assets/profile icon 3.png" alt="">
        <div class="rank-indicator">
          <h4>3</h4>
        </div>
      </div>
      <h3>Bill77</h3>
      <h4>
        1674
        <span>pts.</span>
      </h4>
    </li>
  </ul>
  <ul class="leaderboard">
    @for (person of people; track $index; let id = $index) {
      <li>
        <h3>{{id + 4}}</h3>
        <div class="img-container">
          <img src="../../assets/profile icon 1.png" alt="">
        </div>
        <h3>RandomLoser</h3>
        <h4>
          1124
          <span>pts.</span>
        </h4>
      </li>
    }
  </ul>
</main>