<h3 (click)="testTopThree()" >ALL TIME</h3>
<app-headline [title]="'Leaderboard'"></app-headline>
<main @slideIn>
  <ul class="top-three">
    <li (click)="test()" class="second-place">
      <div class="profile-picture">
        <img @fade src="{{topThree[1].user_icon}}" alt="">
        <div class="rank-indicator">
          <h4>2</h4>
        </div>
      </div>
      <h3 @fade>{{topThree[1].username}}</h3>
      <h4 @fade>
        {{topThree[1].score}}
        <span>pts.</span>
      </h4>
    </li>
    <li (click)="addNew()" class="first-place">
      <div class="profile-picture">
        <img src="{{topThree[0].user_icon}}" alt="">
        <div class="rank-indicator">
          <h4>1</h4>
        </div>
        <img [@float]="floatState" (@float.done)="floatReverse()" src="../../assets/crown.svg" alt="">
      </div>
      <h3>{{topThree[0].username}}</h3>
      <h4>
        {{topThree[0].score}}
        <span>pts.</span>
      </h4>
    </li>
    <li class="third-place">
      <div class="profile-picture">
        <img src="{{topThree[2].user_icon}}" alt="">
        <div class="rank-indicator">
          <h4>3</h4>
        </div>
      </div>
      <h3>{{topThree[2].username}}</h3>
      <h4>
        {{topThree[2].score}}
        <span>pts.</span>
      </h4>
    </li>
  </ul>
  <ol style.height="{{leaderboardData.length * 100}}px" class="leaderboard">
    @for (person of leaderboardData; track person.id) {
      <li [@scaleIn]="person.rank == newItemRank ? 'true' : 'false'" [style.transform]="'translateY(' + ((person.rank - 4) * 100) + 'px)'" [@moveAnimation]="{value: person.rank, params: {newOffset: (person.rank -  4) * 100}}">
        <h3>{{$index + 4}}</h3>
        <div class="img-container">
          <img src="../../assets/profile icon 1.png" alt="">
        </div>
        <h3>{{person.username}}</h3>
        <h4>
          {{person.score}}
          <span>pts.</span>
        </h4>
      </li>
    }
  </ol>
</main>