:host {
  width: 100%;
  height: 8rem;
  min-width: 2rem;
  z-index: 100;
}

header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  position: relative;
}

nav {
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  border-radius: 2rem;
  background-color: #E6F4FF;
  display: flex;
  align-items: center;
  margin-left: 3rem;
  box-shadow: 1px 4px 4px rgba(218, 218, 218, 0.25);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

nav.navigation {
  position: fixed;
  top: 2rem;
  z-index: 1000;
}

nav a {
  display: flex;
  align-content: center;
}

nav > a:first-child {
  height: 3rem;
}

nav > a:nth-child(2) {
  text-decoration: none;
  color: black;
  font: 2.25rem 'Roboto Slab';
  margin-left: 1rem;
  margin-right: 1.5rem;
}

nav .buttons-container {
  display: flex;
  gap: 0.75rem;
  width: max-content;
  transform-origin: left;
  cursor: pointer;
}

.buttons-container a:first-child {
  transform: rotate(180deg);
  cursor: pointer;
}

section.modal-buttons {
  width: calc(100% - 7.75rem);
  padding-left: 28rem;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.modal-buttons button {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
  font: 1.5rem 'Roboto Slab';
  font-weight: 600;
  color: white;
  height: max-content;
} 

.modal-buttons button:nth-child(2) img {
  position: absolute;
  height: 3rem;
  width: 3rem;
  left: calc(100% - 1rem);
  bottom: calc(100% - 1.5rem);
}

app-feedback {
  transform-origin: top 90%;
}

button.user-settings {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.user-settings img {
  object-fit: contain;
  background-color: #E6F4FF;
  border-radius: 2rem;
}

button.mobile-navigation {
  display: none;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: 2.25rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

nav.mobile-nav-modal {
  display: none;
  transform-origin: top right;
}

.mobile-nav-modal button, .mobile-nav-modal a {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.mobile-nav-modal button:hover, .mobile-nav-modal a:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1280px) {
  section.modal-buttons {
    display: none
  }

  button.user-settings {
    display: none;
  }

  button.mobile-navigation {
    display: flex;
    align-items: center;
  }

  nav.mobile-nav-modal {
    display: flex;
    position: absolute;
    z-index: 101;
    right: 2.25rem;
    top: 7rem;
    width: 25rem;
    border-radius: 1rem;
  }

  .mobile-nav-modal ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
  }

  .mobile-nav-modal li {
    display: flex;
    justify-content: center;
    height: 100% !important;
  }

  .mobile-nav-modal a, button {
    width: max-content !important;
    text-decoration: none;
    font: 2rem 'Roboto Slab';
    color: black;
    border: none;
    background-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 4rem;
    background-color: #E6F4FF;
  }

  nav {
    box-shadow: none;
    margin-left: 1rem;
    padding: 0;
    border-radius: 0;
  }

  nav.navigation {
    position: static;
  }

  nav a:first-child {
    width: 2.5rem;
    height: 2.5rem;
  }

  .buttons-container {
    display: none !important;
  }

  nav a:nth-child(2) {
    font-size: 1.5rem;
    margin-right: 0;
  }

  button.mobile-navigation {
    margin-right: 1rem;
  }

  .mobile-navigation svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  .mobile-navigation svg path {
    fill: black;
  }

  nav a:nth-child(3), nav a:nth-child(4) {
    display: none;
  }

  nav.mobile-nav-modal {
    top: 5rem;
    right: 1rem;
  }
}

@media screen and (max-width: 432px) {
  nav.mobile-nav-modal {
    width: 19.5rem;
    right: 0.25rem;
  }
}