
<main>
  <ul>
    <li routerLink="/levels">
      <img src="../../assets/levels.svg" alt="">
      <h2>Levels</h2>
    </li>
    <li routerLink="/daily">
      <div class="calendar">
        <div class="month">
          May
        </div>
        <div class="day">
          26
        </div>
      </div>
      <h2>Daily Challenge</h2>
    </li>
    <li routerLink="/leaderboard">
      <img src="../../assets/leaderboard.svg" alt="">
      <h2>Leaderboard</h2>
    </li>
  </ul>
  <div class="socials-container">
    <app-socials></app-socials>
  </div>
</main>
