
<main>
  <ul>
    <li routerLink="/topics">
      <img src="../../assets/levels.svg" alt="">
      <h2>Levels</h2>
    </li>
    <li [class.hover]="isDailyComplete" [routerLink]="isDailyComplete ? '/menu' : '/daily'" [style.cursor]="isDailyComplete ? 'auto' : 'pointer'">
      <div [style.filter]="isDailyComplete ? 'brightness(0.4)' : ''" class="daily-container" >
        <div class="calendar">
          <div class="month">
            {{ currentMonth }}
          </div>
          <div class="day">
            {{ currentDay }}
          </div>
        </div>
        <h2>Daily Challenge</h2>
      </div>
      @if (isDailyComplete) {
        <img src="../../../assets/check.png" alt="checkmark icon">
      }
    </li>
    <li routerLink="/leaderboard">
      <img src="../../assets/leaderboard.svg" alt="">
      <h2>Leaderboard</h2>
    </li>
  </ul>
  <div class="socials-container">
    <app-socials></app-socials>
  </div>
</main>
