header {
  height: 4rem;
  width: 100vw;
  max-width: 100%;
  background-color: #628183;
  display: flex;
}

.logo {
  width: clamp(5rem, 4.4rem + 3vw, 8rem);
  height: clamp(5rem, 4.4rem + 3vw, 8rem);
  background-color: white;
  border-radius: 0 0 3.75rem 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
  margin-left: 2.5rem;
}

.logo img {
  width: 75%;
  height: 75%;
  object-fit: contain;
  transform: translateY(-10%);
}

h1 {
  font: clamp(1.625rem, 1.275rem + 1.75vw, 3.375rem) "Bokor";
  color: #D45BFF;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.45);
  -webkit-text-stroke: clamp(0.063rem, 0.05rem + 0.063vw, 0.125rem) black;
  line-height: 100%;
  display: flex;
  align-items: center;
  margin: auto 0 auto clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
}

button {
  height: max-content;
  padding: 0.5rem 1rem;
  font: 1.25rem "Poppins";
  border-radius: 0.5rem;
  border: transparent;
  cursor: pointer;
  display: none;
}

button:first-of-type {
  background-color: white;
  margin: auto 0 auto auto;
}

button:last-of-type {
  background-color: black;
  color: white;
  margin: auto 2rem;
}

@media only screen and (max-width: 768px) {
  button:first-of-type {
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }

  button:last-of-type {
    display: none;
  }

  .logo {
    margin-left: 1rem;
  }
}