<div class="socials">
  <h3>Follow us and be part of the journey!</h3>
  <ul>
    <li>
      <a href="https://x.com/OFFBLACKdev" target="_blank">
        <img [@buzz]="isBuzzing[0]" (mouseover)="triggerBuzz(0)" src="../assets/x logo.svg" alt="">
      </a>
    </li>
    <!-- <li>
      <a href="">
        <img [@buzz]="isBuzzing[1]" (mouseover)="triggerBuzz(1)" class="tiktok-logo" src="../assets/tiktok logo.svg" alt="">
      </a>
    </li>
    <li>
      <a href="">
        <img [@buzz]="isBuzzing[2]" (mouseover)="triggerBuzz(2)" class="youtube-logo" src="../assets/youtube logo.svg" alt="">
      </a>
    </li> -->
  </ul>
</div>
