<app-headline [title]="'Topics'"></app-headline>
<main>
  @if (loadingData.areImagesLoaded) {
    <ul>
      @for (topic of topics; track topic.id) {
        <li @appear [routerLink]="['/topics', topic.id]">
          <img [src]="topic.coverImagePath" alt="">
          <h3>{{topic.name}} <span>{{topic.completedTierlists}} / {{ topic.tierlists[0].count }}</span></h3>
        </li>
      }
    </ul>
  } @else {
    <mat-progress-spinner mode="indeterminate" diameter="48"></mat-progress-spinner>
  }
</main>
