@if (!finished) {
  <section class="tier-list-header">
    <div class="tier-list-info">
      <p>Next up:</p>
      @if (tierlistItems[currentItem]) {
        <h3>{{tierlistItems[currentItem].name}}</h3>
      }
    </div>
    <ul>
      @if (tierlistItems.length != 0) {
        <li [dndDraggable]="tierlistItems[currentItem].file_path" class="next-up" dndType="import">
          <img [src]="tierlistItems[currentItem].file_path" alt="">
          <div dndDragImageRef class="drag-preview">
            <img [src]="tierlistItems[currentItem].file_path" alt="">
          </div>
        </li>
      }
    </ul>
  </section>
}
<ul class="tier-list-body">
  @for (row of calculateRows(); track $index; let rowIndex = $index) {
    <li class="tier-list-row">
      <div class="tier-list-rank" [style.backgroundColor]="backgroundColors[rowIndex]">
        <span>{{tiers[rowIndex]}}</span>
      </div>
      <ul #firstRow class="tier-list-items" dndDropzone [dndHorizontal]="true" (dndDrop)="onDrop($event, rowIndex)">
        @for (item of tierData[rowIndex]; track item; let index = $index) {
          <li class="tier-list-item not-filler" [dndDraggable]="tierData[rowIndex][index]" dndType="transfer" (dndStart)="onDragStart(rowIndex, index)" [dndDisableDragIf]="finished">
            <img class="added" [src]="tierData[rowIndex][index]" alt="">
          </li>
        }
        <li class="placeholder" dndPlaceholderRef>
          <img [src]="tierlistItems[currentPlaceholder].file_path" alt="">
        </li>
        @if (rowIndex == 0) {
          <li [style.display]="showFiller[rowIndex]" [style.opacity]="calculateMaxItems(firstRow.offsetWidth, rowIndex)" class="tier-list-item filler" [@shrink]="finished ? 'shrink' : 'initial' "></li>
        } @else {
          <li [style.display]="showFiller[rowIndex]" class="tier-list-item filler" [@shrink]="finished ? 'shrink' : 'initial' "></li>
        }
      </ul>
    </li>
  }
</ul>
