@if (!placedAll) {
  <section @scaleOut class="tier-list-header">
    @if (loadData.areImagesLoaded) {
      <div @slideInFromLeft class="tier-list-info">
        <p>Next up:</p>
        <h3>{{tierlistItems[currentItem].name}}</h3>
      </div>
    }
    @if (loadData.areImagesLoaded) {
      <ul @slideInFromRight>
        <li [dndDraggable]="tierlistItems[currentItem]" dndType="import">
            <img [src]="tierlistItems[currentItem].file_path" alt="">
          <div dndDragImageRef class="drag-preview">
            <img [src]="tierlistItems[currentItem].file_path" alt="">
          </div>
        </li>
      </ul>
    }
  </section>
}
@if (loadData.areImagesLoaded && numOfRows) {
  <ul @scaleIn class="tier-list-body">
    @for (row of array(numOfRows); track $index; let rowIndex = $index) {
      <li class="tier-list-row">
        <div class="tier-list-rank" [style.backgroundColor]="backgroundColors[rowIndex]">
          <span>{{tiers[rowIndex]}}</span>
        </div>
        <ul #firstRow class="tier-list-items" dndDropzone [dndDisableIf]="draggedFromRow == rowIndex" [dndHorizontal]="true" (dndDrop)="onDrop($event, rowIndex)">
          @for (item of tierData[rowIndex]; track item; let index = $index) {
            <li [style.cursor]="finished ? 'auto' : 'grab'" [matTooltip]="getTooltip(rowIndex, index)" matTooltipPosition="above" matTooltipShowDelay="500" class="tier-list-item not-filler" [dndDraggable]="tierData[rowIndex][index]" dndType="transfer" (dndStart)="onDragStart(rowIndex, index)" [dndDisableDragIf]="finished">
              <img class="added" [src]="tierData[rowIndex][index].file_path">
              @if (tierData[rowIndex][index].result_marker_color) {
                <div class="result-marker" [style.backgroundColor]="tierData[rowIndex][index].result_marker_color" [style.transform]="tierData[rowIndex][index].flip_marker ? 'rotate(180deg)' : ''">
                  <img src="../../../assets/chevron.svg" alt="Chevron icon">
                </div>
              } @else if (tierData[rowIndex][index].result_marker_color == '') {
                <div class="result-marker-perfect">
                  <img src="../../../assets/check.svg" alt="Checkmark icon">
                </div>
              }
            </li>
          }
          <li class="placeholder" dndPlaceholderRef>
            <img [src]="tierlistItems[currentPlaceholder].file_path">
          </li>
          @if (rowIndex == 0) {
            <li [style.display]="showFiller[rowIndex]" [style.cursor]="finished ? 'auto' : 'grab'" [style.opacity]="calculateMaxItems(firstRow.offsetWidth)" class="tier-list-item filler" [@shrink]="finished ? 'shrink' : 'initial' "></li>
          } @else {
            <li [style.display]="showFiller[rowIndex]" class="tier-list-item filler" [@shrink]="finished ? 'shrink' : 'initial' "></li>
          }
        </ul>
      </li>
    }
  </ul>
  @if (placedAll && !finished) {
    <div class="btn-container">
      <button (click)="finish()" class="submit">Submit</button>
    </div>
  }
}
@if (!loadData.areImagesLoaded) {
  <mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner>
}
@if (showCoins) {
  <ul [@coinsAnimation]="coins.length" class="coins" [style.width]="coinsWidth">
    @for (coin of coins; track $index) {
      <li [style.transform]="$index == 0 ? '' : 'translateX(' + (-50  * $index) + '%)'" [style.zIndex]="$index * -1">
        <img src="../../../assets/coin.png" alt="Coin icon">
      </li>
    }
  </ul>
  <div @rotateScaleIn (@rotateScaleIn.done)="startAnimatingProgressbar($event)" class="points-container">
    <p class="points">
      <span>+{{ numOfPoints }}</span> points</p>
  </div>
  <div [@progressBarAnimation]="animateProgressbar" class="progress-bar">
    <div [@markerPosition]="animateProgressbar" (@markerPosition.done)="startAnimatingText1($event)" class="triangle-marker"></div>
    <div [@fillPosition]="animateProgressbar" class="fill"></div>
  </div>
  <p [@fadeIn]="showText1" (@fadeIn.done)="startAnimatingText2($event)" class="end-text">You placed in the top <span>{{56}}%</span><br> for {{dailyTierlist ? 'the daily' : 'this'}} tier list</p>
  <!-- <p [@fadeIn]="showText2" class="end-text">{{dailyTierlist ? 'Check back tomorrow' : 'Want to try' }}<br>{{dailyTierlist ? 'or try a random level:' : 'a random level?' }}</p> -->
  <div class="next-action-buttons">
    <div [@fadeIn]="showText2" (@fadeIn.done)="startAnimatingToTopButton($event)" class="random">
      <button (click)="playRandomLevel()" aria-label="Play random level"></button>
      <img src="../../../assets/dice.png" alt="Dice icon">
    </div>
    <button [@fadeIn]="showToTopButton" (click)="scrollToTop()" class="scroll-up">
      <img src="../../../assets/arrow up.svg" alt="Arrow up icon">
      <span>TO TOP</span>
    </button>
  </div>
}
<div #coinscontainer>
</div>