@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 38.75rem;
  width: 100%;
  margin: 1.5rem auto;
}

.tier-list-header {
  width: 100%;
  height: clamp(4rem, 3.3rem + 3.5vw, 7.5rem);
  display: flex;
  justify-content: space-between;
}

.tier-list-header ul {
  margin-left: auto;
  margin-right: 4rem;
  list-style: none;
  width: clamp(6rem, 5.2rem + 4vw, 10rem);
  height: clamp(4rem, 3.3rem + 3.5vw, 7.5rem);
  border-radius: 0.75rem;
  border: 1px solid white;
  background-color: white;
  overflow: hidden;
  transition: all 0.2s ease-out
}
.tier-list-header li {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  cursor: grab;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-preview {
  transform: translate(-50%, 50%);
  position: absolute;
  top: 100%;
}

.drag-preview.dndDragging {
  height: 4rem;
  width: 6rem;
  border-radius: 0.375rem;
  overflow: hidden !important;
  background-color: #6F8FAF;
  display: block;
  padding: 0.35rem;
}

.drag-preview.dndDragging img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tier-list-header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tier-list-info {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-left: 3rem;
  width: calc(100% - 7rem - clamp(6rem, 5.2rem + 4vw, 10rem));
  padding-right: 1rem;
}

.tier-list-info p {
  font: clamp(1.25rem, 1.1rem + 0.75vw, 2rem) 'Alfa Slab One';
  padding: 0.375rem clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  background-color: #88FFB2;
  border-radius: 0.25rem;
  line-height: 100%;
  margin: 0;
  width: max-content;
  margin-bottom: 0.5rem;
}

.tier-list-info h3 {
  margin: auto 0 0 2.5rem; 
  font: clamp(1rem, 0.9rem + 0.5vw, 1.5rem) 'Poppins';
  padding: clamp(0.25rem, 0.2rem + 0.25vw, 0.5rem) clamp(0.5rem, 0.4rem + 0.5vw, 1rem);
  background-color: white;
  border-radius: 0.25rem;
  line-height: 100%;
  max-width: clamp(10rem, 8.8rem + 6vw, 16rem);
  text-wrap: wrap;
  text-align: center;
  width: max-content;
  min-width: clamp(3rem, 2.8rem + 1vw, 4rem);
}

ul.tier-list-body {
  width: calc(100% - 1rem);
  background-color: #1C2D4C;
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1.25rem;
  padding: clamp(1.5rem, 1.4rem + 0.5vw, 2rem) clamp(1rem, 0.8rem + 1vw, 2rem);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

li.tier-list-row {
  width: 100%;
  display: flex;
  height: max-content;
}

div.tier-list-rank {
  width: clamp(4rem, 3.75rem + 1.25vw, 5.25rem);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 2.75rem 'Rhodium Libre';
  border-radius: 0.375rem;
  margin-right: clamp(0.5rem, 0.2rem + 1.5vw, 2rem)
}

div.tier-list-rank span {
  transform: translateY(7.2%);
}

ul.tier-list-items {
  display: flex;
  height: max-content;
  width: calc(100% - (clamp(4rem, 3.75rem + 1.25vw, 5.25rem) + clamp(0.5rem, 0.2rem + 1.5vw, 2rem)) );
  min-height: 4rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  list-style-type: none;
  border-radius: 0.375rem;
  justify-content: flex-start;
}

.tier-list-body li.tier-list-item {
  width: 6rem;
  height: 4rem;
  background-color: #6F8FAF;
  border-radius: 0.375rem;
  padding: 0.35rem;
  cursor: grab;
}

.tier-list-items li.placeholder:last-child {
  display: none;
}

mat-progress-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li.tier-list-item.filler {
  flex: 5 100;
  transform-origin: left;
  cursor: default !important;
}

li.tier-list-item img.added {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.375rem;
}

.tier-list-items .placeholder {
  width: 6rem;
  height: 4rem;
  border-radius: 0.375rem;
  background-color: #6F8FAF;
  padding: 0.35rem;
  opacity: 0.75;
}

.placeholder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-container {
  margin-top: 2rem;
  background: black;
  border-radius: 1rem;
}

button.submit {
  font: 2rem 'Alfa Slab One';
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(to bottom, #00BDF8, #02419F);
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  border: transparent;
  transform: translate3d(-0.5rem, -0.5rem, 0);
  transition: transform 0.3s ease-in-out;
}

button.submit:hover {
  transform: translate3d(-0.75rem, -0.75rem, 0);
}