<section class="tier-list-header" cdkDropList [cdkDropListConnectedTo]="['row']">
  <div class="tier-list-info">
    <p>Next up:</p>
    <h3>Tokyo Revengers</h3>
  </div>
  <ul>
    <li class="tier-list-item NOTICE_ME" cdkDrag [cdkDragData]="nextUp">
      <img src="../../assets/tokyo revengers.png" alt="">
    </li>
  </ul>
</section>
<ul class="tier-list-body">
  @for (tierListRow of tiers; track tierListRow; let index = $index) {
    <li class="tier-list-row">
      <div class="tier-list-rank" [style.backgroundColor]="backgroundColors[index]">
        <span>{{tierListRow}}</span>
      </div>
      <ul class="tier-list-items" id="row" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListSortPredicate]="sortPredicate" [cdkDropListData]="tierData" (cdkDropListDropped)="drop($event)">
        @for (item of tierData; track $index; let index = $index) {
          <li class="tier-list-item">
            <img cdkDrag class="added" [src]="tierData[index]" alt="">
          </li>
        }
        <li class="tier-list-item filler">
          <img src="" alt="">
        </li>
      </ul>
    </li>
  }
</ul>
