<app-headline [title]="'Game Levels'"></app-headline>
<main>
  <ul>
    <li>
      <img routerLink="/menu" src="../../assets/anime.svg" alt="">
      <h3 routerLink="/menu">Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
    <li>
      <img src="../../assets/anime.svg" alt="">
      <h3>Anime <span>7 / 10</span></h3>
    </li>
  </ul>
</main>
