@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

ul {
  width: 100%;
  margin: 2rem auto;
  max-width: 35rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 6.25rem;
  row-gap: 3rem;
}

li {
  width: 7.5rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

a {
  display: block;
  height: 7.5rem;
  width: 7.5rem;
  padding: 0;
  margin: 0;
  background-color: red;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font: 5rem "Rhodium Libre";
  color: black;
  border: 0.375rem solid white;
  position: relative;
  transition: all 0.2s ease-out;
}

a:hover {
  transform: translateY(5px);
}

p {
  margin-top: 1.5rem;
  font: 1.25rem 'Poppins';
  padding: 0.2rem 0.6rem;
  background-color: white;
}

p:first-child {
  margin-top: 5rem
}