@if (id > 9 || id < 1) {
  <p>Seems like this page does not exist</p>
} @else {
  <app-headline [title]="topicTitles[id - 1]"></app-headline>
  <ul>
    @if (topicTierlists.length != 0) {
      @for (tierList of topicTierlists; track tierList; let index = $index) {
        <li>
          <a @appear [routerLink]="['./tierlists/' + tierList.id, { title: tierList.name }]" [style.backgroundColor]="setBackgroundColor(tierList.num_of_tiers)">
            {{index + 1}}
          </a>
          <p @appear [style.backgroundColor]="completed ? 'white' : '#9B9B9B'"  >{{ completed ? points + ' points' : '?'}}</p>
        </li>
      }
    } @else {
      <li>
        <mat-progress-spinner mode="indeterminate" diameter="96"></mat-progress-spinner>
      </li>
    }
  </ul>
}
