* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2E3C45;
  font-family: 'Roboto Slab';
}

.snackbar {
  --mdc-snackbar-supporting-text-font: 'Roboto Slab';
}

.red-snackbar {
  --mdc-snackbar-container-color: lightcoral;
}

.green-snackbar {
  --mdc-snackbar-container-color: lightgreen;
}