@if (id > 8 || id < 0) {
  <p>Seems like this page does not exist</p>
} @else {
  <app-headline [title]="topicTitles[id]"></app-headline>
  <ul>
    @if (topicTierlists.length != 0) {
      @for (tierList of topicTierlists; track tierList; let index = $index) {
        <li>
          <a [routerLink]="'./tierlists/' + tierList.id" [style.backgroundColor]="setBackgroundColor(tierList.num_of_tiers)">
            {{index + 1}}
          </a>
          <p>{{points}} points</p>
        </li>
      }
    } @else {
      <li>
        <mat-progress-spinner mode="indeterminate" diameter="96"></mat-progress-spinner>
      </li>
    }
  </ul>
}
